@media screen and (max-width : 922px) {
    
}

@media screen and (max-width : 576px) {

    .hero-tagline h1 {
        line-height: 52px;
    }

    .img-hero {
        width: 80%;
        height: auto;
    }

    h2 {
        font-size: 34px;
        
    }

    .sub-title {
        font-size: 16px;
    }

    .card-visimisi {
        margin: 15px 0px;
    }

    .navbar {
        background-color: var(--pr-color);
    }



    footer a {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: #fff;
        text-decoration: none;
    
    }

   
    
}

@media screen and (max-width : 350px) {
    
}